@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,900;1,400&display=swap');

:root {
  --lightgreen: #4e7706;
  --darkgreen: #0c6100;
  /* --darkgreen: #052D00; */
  --lightergreen: #efefef;
  --plyr-color-main: #625B60;
}

:target {
  background-color: #EEEEEE;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  margin-top: 70px;
}

img {
  max-width: 100%;
  border: 0px solid #fff;
}

h1, h2, h3, h4, h5 {
  color: var(--darkgreen);  
  margin-top: 1.2em;
}

a {
  color: var(--darkgreen);
}

a:hover {
  color: var(--lightgreen);
}

nav.navbar {
  border-bottom: 1px solid var(--darkgreen);
}

#footer {
  margin-top: 2em;
  padding: 1em 0 0.5em 0;
}

.navbar-brand {
  font-weight: bolder;
}

.jumbotron {
  margin-top: 1em;
  font-size: 1.6em;
  padding: 2rem 2rem 1.5rem 2rem;
}

.jumbotron img {
  float:left;
  margin-right: 0.5em;
}

.imageblock {
  margin-bottom: 1em;
}

.border-bottom {
  border-bottom: 1px solid var(--darkgreen);
}

.border-top {
  border-top: 1px solid var(--darkgreen);
}

.social-network-list {
  list-style-type: none;
}

.social-network-list li {
  font-weight: bolder;
}

.bg-light {
  background-color: var(--lightergreen) !important;
}

/* previo */
audio {
  width: 100%;
  margin: 1em 0;
}

.videoblock {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
  height: 0;
  text-align: center;
}

.videoblock iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player {
  /*background: rgb(98,91,96);
  background: linear-gradient(302deg, rgba(98,91,96,1) 0%, rgba(98,91,96,0.8169468470982143) 15%, rgba(254,254,254,1) 92%);*/
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6684874633447129) 22%, rgba(255,255,255,1) 77%);  
  border-radius: 5px;
}

.plyr {
  margin-bottom: 0.5em;
}

.player::after {
  content: "";
  display: table;
  clear: both;
}

.player .logo {
  width: 15%;
  float: left;
}

.player .logo img {
  width: 140px;
  margin: 0 auto;
  text-align: center;
}

.player .widget {
  width: 84%;
  float: right;
  padding: 0 0.5em;
}

.player h2 {
  color: #000;
  font-weight: bold;
}

.player img {
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .player .logo img {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .player .logo {
    width: 40%;
    margin: 0 auto;
    float: none;
  } 
  .player .widget h2 {
    text-align: center;
  }
  .player .widget {
    width: 100%;
    float: none;
  }
}
