title=Licencia de los contenidos
type=page
tags=
status=published
withtitle=true
~~~~~~

<div class="container">
  <div class="row">
    <div class="col-md">
      
      <p class="text-center">
        <img src="https://licensebuttons.net/l/by-sa/3.0/88x31.png" alt="" width="88" height="31" /><br/>

        <strong>
          Atribución-CompartirIgual
          <br/>
          CC BY-SA
        </strong>
      </p>

      <p>
        This license lets others remix, adapt, and build upon your work even for commercial purposes, as long as they
        credit you and license their new creations under the identical terms. This license is often compared to
        "copyleft" free and open source software licenses. All new works based on yours will carry the same license, so
        any derivatives will also allow commercial use. This is the license used by Wikipedia, and is recommended for
        materials that would benefit from incorporating content from Wikipedia and similarly licensed projects.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-sa/4.0">
            Ver el Resumen de la licencia</a>
          | <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode">
            Ver el Código legal</a>
        </span>
      </p>
    </div>
  </div>
</div>